data/arxiv/*
data/wiki/*
data/dbpedia/*
wordEmbeddings/
.idea/
data/wiki/*.txt
data/wiki/*.csv
data/wiki/*.zip
data/wiki/*.pkl
data/wiki/wiki_len_text.png
data/zhang15/
__pycache__/
results/
src/*.npz
