data/
data/arxiv/*
data/wiki/*
data/review/*
data/dbpedia/*
data/glove/*
data/newsgroup/*
paper/*
wordEmbeddings/
.idea/
data/wiki/*.txt
data/wiki/*.csv
data/wiki/*.zip
data/wiki/*.pkl
data/wiki/wiki_len_text.png
data/zhang15/
__pycache__/
results/
src/*.npz
src_key/.ipynb_checkpoints
src/classifier_NN.py
*.pickle
src_key/data/*
*.pyc
*.zip
src/
src_key/
src_reject/*.sh
src_submit/
